:root {
    --background-color: #f8f9fa;
    --border-color: #ced4da;
    --focus-color: #6c757dff;
    --text-color: #495057ff;
    --label-color: #212529ff;
}

body {
    background-color: var(--background-color);
}

.date,
.payment-method,
.description,
.quantity,
.cost {
    display: block;
}

.date-err-msg,
.payment-err-msg,
.descript-err-msg,
.quantity-err-msg,
.cost-err-msg {
    display: none;
}

.form-container {
    margin: 0 auto;
    width: 500px;
}

.summary {
    text-align: center;
    margin-top: 2rem;
}

.table-container {
    margin: 0 auto;
    width: 800px;
}

.form label {
    color: var(--label-color);
    display: block;
    margin: 0.5rem 0;
    padding: 0.25rem 0;
    font-size: large;
    width: 100%
}

.form input, .form select {
    color: var(--text-color);
    display: block;
    padding: 0.5rem;
    width: 100%;
    box-sizing: border-box;
    border: 2px solid var(--border-color);
    border-radius: 12px;
    transition: border-color 0.2s ease;
}

.form input:focus, .form select:focus {
    border: 2px solid var(--focus-color);
    outline: none;
}

.form input::placeholder {
    font-size: medium;
}

.form button {
    display: block;
    margin: 1rem auto;
    padding: 0.5rem;
}

.summary p{
    color: var(--text-color);
}

.action-cell {
    display: flex;
    gap: 10px;
}

.payment-header-cell {
    white-space: nowrap;
}

th {
    color: var(--label-color);
    padding: 1rem 1.25rem;
}

td {
    color: var(--text-color);
    text-align: center;
    padding: 1rem 1.25rem;
}

.form button {
    cursor: pointer;
    padding: 0.75rem 2rem;
    border-radius: 1rem;
    color: var(--background-color);
    background-color: var(--text-color);
    border: 2px solid var(--label-color);
    transition: background-color 0.2s ease;
}

.form button:hover {
    background-color: var(--focus-color);
}

.form button:active {
    background-color: var(--label-color);
}