.date,
.payment-method,
.description,
.quantity,
.cost {
    display: block;
}

.date-err-msg,
.payment-err-msg,
.descript-err-msg,
.quantity-err-msg,
.cost-err-msg {
    display: none;
}

.form-container, .summary, .table-container {
    margin: 0 auto;
    width: 500px;
}

.form label {
    display: block;
    margin: 6px 0;
    padding: 4px 0;
    font-size: large;
    width: 100%
}

.form input, .form select {
    display: block;
    padding: 10px;
    width: 100%;
    box-sizing: border-box;
}

.form input::placeholder {
    font-size: medium;
}

.form button {
    display: block;
    margin: 16px auto;
    padding: 10px;
}

.action-cell {
    display: flex;
    gap: 10px;
}

.payment-header-cell {
    white-space: nowrap;
}